@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pdcm43");
  src: url("../fonts/icomoon.eot?pdcm43#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?pdcm43") format("truetype"), url("../fonts/icomoon.woff?pdcm43") format("woff"), url("../fonts/icomoon.svg?pdcm43#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-fc-"], [class*=" icon-fc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-fc-add:before {
  content: ""; }

.icon-fc-add_box:before {
  content: ""; }

.icon-fc-poll:before {
  content: ""; }

.icon-fc-laptop:before {
  content: ""; }

.icon-fc-done:before {
  content: ""; }

.icon-fc-event_note:before {
  content: ""; }

.icon-fc-library_books:before {
  content: ""; }

.icon-fc-menu:before {
  content: ""; }

.icon-fc-person:before {
  content: ""; }

.icon-fc-personal_video:before {
  content: ""; }

.icon-fc-textsms:before {
  content: ""; }

.icon-fc-trending_up:before {
  content: ""; }

.icon-fc-view_list:before {
  content: ""; }

.icon-fc-view_quilt:before {
  content: ""; }

.icon-fc-widgets:before {
  content: ""; }

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #D8DADA; }

body {
  background: #222c32; }

a {
  color: #D8DADA;
  text-decoration: none; }

#main {
  position: relative;
  padding-bottom: 110px;
  padding-top: 100px;
  min-height: 100vh; }

#Header {
  background-color: #1E262B;
  min-height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  user-select: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 20px; }

.header-inner {
  padding: 26px 0; }

.header-logo {
  text-transform: uppercase;
  float: left;
  font-weight: 300; }
  .header-logo > a {
    padding: 7px 10px; }

#sidebar {
  width: 268px; }

.sidebar {
  position: fixed;
  background: #2b343a;
  height: calc(100% - 65px);
  top: 70px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  z-index: 10;
  overflow-y: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.main-menu {
  list-style: none;
  padding: 0; }
  .main-menu > li > a {
    padding: 14px 20px 14px 65px;
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.65); }
    .main-menu > li > a:hover {
      background-color: rgba(255, 255, 255, 0.04); }
    .main-menu > li > a .icon {
      position: absolute;
      left: 25px;
      font-size: 20px;
      top: 0;
      width: 25px;
      text-align: center;
      padding: 13px 0; }
