// Colors
$white: #FFF;
$white2: #D8DADA;
$black: #000;
$black2: #1E262B;
$black3: #222c32;
$black4: #2b343a;

// Body
$body-bg: $black3;

// Text
$text-color: $white2;

// Header
$header-bg: $black2;
$header-height: 70px;

// Sidebar
$sidebar-bg: $black4;