$icomoon-font-path: "../fonts" !default;

$icon-fc-add: "\e145";
$icon-fc-add_box: "\e146";
$icon-fc-poll: "\e801";
$icon-fc-laptop: "\e31e";
$icon-fc-done: "\e876";
$icon-fc-event_note: "\e616";
$icon-fc-library_books: "\e02f";
$icon-fc-menu: "\e5d2";
$icon-fc-person: "\e7fd";
$icon-fc-personal_video: "\e63b";
$icon-fc-textsms: "\e0d8";
$icon-fc-trending_up: "\e8e5";
$icon-fc-view_list: "\e8ef";
$icon-fc-view_quilt: "\e8f1";
$icon-fc-widgets: "\e1bd";

